POSTGRES_DB=hospital-database
POSTGRES_USER=embrace_user
POSTGRES_PASSWORD=replace_with_a_strong_password
POSTGRES_PORT=5432

JWT_SECRET_KEY=replace_with_a_long_random_jwt_secret_at_least_256_bits
JWT_EXPIRATION=86400000

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
BACKEND_PORT=8080
